body {
    background: -webkit-linear-gradient(gray, white, gray);
    /* For Safari 5.1 to 6.0 */
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

mark {
    background-color: #181818;
}

h3 {
    text-align: center;
}